@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  font-family: "Karla", sans-serif;
}

h1 {
  font-family: "DM Serif Display", serif;
}

.menu-col ul li a:hover {
  text-decoration: underline;
}

small:hover {
  cursor: default;
}
